body {
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
}

table img {
    max-width: 200px;
}

caption {
    font-family:'Franklin Gothic Medium';
    font-size: 30 px;
}

header {
    grid-area: h;
}

article {
    grid-area: a;
}

nav {
    grid-area: n;
}

footer {
    grid-area: f;
}

.igazitas {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a {
    text-decoration: none;
    color: red;
}

li {
    list-style-type: none;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    width: 200px;
    height: 20px;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 700px){
    body{
        width: 100%;
        font-size: 2vw;
    }
    
    article {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px){
    body{
        width: 100%;
        font-size: 5vw;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto auto 50px;
        grid-template-areas: 
                "h"
                "n"
                "a"
                "f";
    }
    article {
        grid-template-columns: 1fr;
    }
}